{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="form">
    <h2>登录</h2>
    <!-- 要在 form 里指定 POST 方法和点击提交后需要请求的 url-->
    <form method="POST" action="{{ url_for('front.login') }}">
        <!-- flask-wtf 帮我们在表单类中添加了 csrf_token，我们只要简单的渲染就可以了，渲染后会在 html 页面生成一个隐藏域，里面是 csrf_token 值-->
        {{ form.csrf_token }}

        <!-- 使用 Bootstrap 的表单样式渲染每个表单项 -->
        <div class="form-group">
            <!-- 首先渲染 field label -->
            <!-- 接着渲染 field,StdingField 渲染后会生成一个<input>标签， field 里面可以传入 html 的标签属性，这些属性会渲染到生成的html 标签中-->
            {{ form.email.label }} {{ form.email(class='form-control')}}
        </div>

        <div class="form-group".
            {{ form.password.label }} {{ form.password(class='form-control') }}

        <!-- BooleanField 的渲染有些特殊，使用了 Bootstrap 的checkbox 类-->
        <div class="checkbox">
            <label>
                {{ form.remember_me() }}
                <!-- 注意这里获取的是 label 的 text 属性，也就是我们在表单中定义的“记住我”这个字符串-->
                {{ form.remember_me.label.text }}
            </label>
        </div>
        <!-- 渲染提交按钮，传入 Bootstrap 的按钮类-->
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
