<!DOCTYPE html>
<html>
<head>
<link href="{{ url_for('static', filename="bootstrap-3.3.7-dist/css/bootstrap.min.css") }}" rel="stylesheet">
<script src="{{ url_for('static',filename="bootstrap-3.3.7-dist/js/jquery.min.js") }}"></script>
<script src="{{ url_for('static',filename="bootstrap-3.3.7-dist/js/bootstrap.min.js") }}"></script>
    <title>
    	{% block title %}
        {% endblock %}
    </title>
</head>
<ul class="nav nav-pills">
<li role="presentation" class="activate"><a href="http://127.0.0.1:3000">Home </a></li>
</ul>
<body>
    <h2 class="page-header">
    	{% block name %}
    	{% endblock %}
    </h2>
    <h6>
    	{% block time %}
    	{% endblock %}
    </h6>
    <br>
    <h4>
    	{% block content %}
    	{% endblock %}
    </h4>
</body>
</html>
